<template>
  <div id="app">
    <AddTodo v-on:add-todo="addToDo" />
    <Todos v-bind:todos="todos" v-on:del-todo="deleteTodo"></Todos>
  </div>
</template>

<script>
  import Todos from '../components/Todos';
  import AddTodo from  '../components/AddTodo';
  import axios from 'axios';

  export default {
    name: 'Home',
    components: {
      Todos, AddTodo
    },

    data(){
      return {
        todos: []
      }
    },
    methods:{
      deleteTodo(id){
        axios.delete(`https://jsonplaceholder.typicode.com/todos/${id}`)
                .then(resp => this.todos = this.todos.filter(todo => todo.id !== id))
                .catch(err => console.log(err))

      },

      addToDo(newTodo){
        axios.post('https://jsonplaceholder.typicode.com/todos', newTodo)
                .then(resp => this.todos = [...this.todos, resp.data])
                .catch(err => console.log(err))
      }
    },

    created() {
      axios.get('https://jsonplaceholder.typicode.com/todos?_limit=5')
              .then(resp => this.todos = resp.data)
              .catch(err => console.log(err))
    }
  }
</script>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
  }
  .btn {
    display: inline-block;
    border: none;
    background: #555;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  .btn:hover {
    background: #666;
  }
</style>

