<template>
    <form @submit="addTodo">
        <input type="text" name="title" v-model="title" placeholder="add todo ....">
        <button value="submit" class="btn">submit</button>
    </form>
</template>

<script>
    // import uuid from 'uuid';
    export default {
        name: "AddTodo",
        data() {
            return{
                title: ''
            }
        },
        methods:{
            addTodo(e){
                e.preventDefault();
                const newToDo = {
                    title: this.title,
                    completed: false
                };

                this.$emit('add-todo', newToDo);
                this.title = '';
            }
        }
    }

</script>

<style scoped>
    form {
        display: flex;
    }
    input[type="text"] {
        flex: 10;
        padding: 5px;
    }
    input[type="submit"] {
        flex: 2;
    }
</style>