<template>
    <div>
        <div v-for="todo in todos" v-bind:key="todo.id">
            <todo-item v-bind:todo="todo" v-on:del-todo="$emit('del-todo', todo.id)"/>
        </div>
    </div>
</template>


<script>
    import TodoItem from './TodoItem';

    export default {
        name: "Todos",
        components: {TodoItem},
        props: ["todos"],
        comments: {
            TodoItem
        }
    }
</script>

<style scoped>

</style>